.table__head {
    margin-left: auto;
    margin-right: auto;
}

.table__tr{
    padding: 20px 100px;
    background-color:#f3f3f3 ;
}

.table__body__tr {
    padding: 10px;
    border: 1px solid black;
}